<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellswords and Spellcrafts</title>
</head>
<body>
    <header>
        <h1>Sellswords and Spellcrafts</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">GAME</a></li>
                <li><a href="rules.html">RULES</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <div>
            Developed by Mason Evans, Luke Schnetlage, Nicolas Towery
        </div>
    </footer>
</body>
</html>