<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <form id="form" action="submit">
    <input type="submit">
  </form>

  <div id="deckType">
    <p>This should say fire.</p>
  </div>

  <!--Start socket.io script -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    

    form.addEventListener('submit', function (e) {
      var deck = "fire"
      console.log("debug #1");
      e.preventDefault();
      
      socket.emit('select_deck_push', deck);
        
      
    });

    socket.on('select_deck_pull', function (deck) {
      console.log("debug #4");
      var item = document.createElement('p');
      item.textContent = deck;
      document.getElementById("deckType").innerHTML = "<p>test</p>"

    });
  </script>
  <!--End socket.io script -->
</body>

</html>